{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}

    <div class="md:grid lg:grid-cols-3 gap-20 w-4/5 mx-auto py-15 ">
    <!-- Review Item -->

    <div class="text-center pt-8 pb-4">
        <img
                src="{{ book.image_path }}"
                alt=""
                class="shadow-xl rounded-md"
        />
        <p>
            <b>Title: </b>{{ book.title }} <br/>
            <b>Release Year: </b>{{ book.releaseYear }}<br/>
            <b>Author: </b>{{ book.author }}<br/>
            <b>Plot: </b>{{ book.plot }}<br/>
        </p>
    </div>

    <div class="mx-auto w-4/5 my-8">
        <a href="/lend/{{ book.id }}" class="uppercase border border-gray-500 text-lg py-4 px-6 rounded bg-gray-800 text-white">
            Lend
        </a>
    </div>

{% endblock %}