{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}

    <div class="md:grid lg:grid-cols-1 gap-20 w-4/5 mx-auto py-15  mt-20">
    <!-- Review Item -->

    <div class="text-center pt-8 pb-4">
        <img
                src="{{ book.image_path }}"
                alt=""
                class="shadow-xl rounded-md inline-flex"
        />
        <p>
            <b>Title: </b>{{ book.title }} <br/>
            <b>Release Year: </b>{{ book.releaseYear }}<br/>
            <b>Author: </b>{{ book.author }}<br/>
            <b>Plot: </b>{{ book.plot }}<br/>
        </p>
    </div>


    </div>
    <div class="static h='h-5' mx-auto w-4/5 my-8 text-center">
        <a href="/lend/{{ book.id }}" class="uppercase border border-gray-500 text-lg py-4 px-6 rounded bg-gray-800 text-white">
            Lend
        </a>
    </div>

{% endblock %}